{% load staticfiles %}
<!DOCTYPE html>
	<head>
		<title>Buy.me</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/resize.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
		<link rel="stylesheet" href="{% static 'css/filter.css' %}">
		<link rel="stylesheet" href="{% static 'css/cart.css' %}">
		<link rel="stylesheet" href="{% static 'css/newspapers.css' %}">
	</head>
	<body>
		<div class="page-header-big">
			<div class="page-header">
				<a href="">Buy.ME</a>
			</div>
		</div>
		<div class="filter_zone">
			FILTER ZONE
		</div>
		<div class="cart">
			<h2 class="cart-title">Cart</h2>
			<ul>
  				<li>Coffee</li>
  				<li>Tea</li>
  				<li>Milk</li>
			</ul>
		</div>
		<div class="newspapers">
	    	{% for newspaper in newspapers %}
	    		{% if newspaper.stock %}
	    			<div class="newspaper">
	    				<h3 class="name">{{ newspaper.nume }}</h3>
	    				<p class="stock"> STOCK: <span style="color:green; font-weight:bold;">{{newspaper.stock}}</p>
	    				<form>
	    					{% if newspaper.hasCD %}
	    						<div>
	    							<label for="CD">CD:
	    								<input id="CD" type="checkbox" name="options" value="newspaper.BuyWithCD">
	    							</label>
	    						</div>
	    					{% endif %}		
	    					{% if newspaper.hasBook %}
	    						<div>
	    							<label for="Book">Book:
	    								<input id="Book" type="checkbox" name="options" value="newspaper.BuyWithBook">
	    							</label>
	    						</div>
	    					{% endif %}
	    					<div class="prices">
	    						<p>Standard Price: {{newspaper.priceWithoutAddons}}</p>
	    						<p>Price With CD: {{newspaper.priceWithCD}}</p>
	    						<p>Price With Book: {{newspaper.priceWithBook}}</p>
	    						<p>Price With CD and Book: {{newspaper.priceWithCDAndBook}}</p>
	    					</div>
	    					<div class="add_to_cart">
	    						<input class="button_input" type="submit" value="Add to Cart">
	    					</div>	
	    				</form>
	    			</div>
				{% else %}
    				<div class="newspaper not-in-stock">
	    				<h3 class="name">{{ newspaper.nume }}</h3>
	    				<h1 class="out-of-stock"> NOT IN STOCK</h1>
	    			</div>
				{% endif %}
			{% endfor %}
		</div>
    </body>
</html>